.container{
 width: 100%;
  padding: 0 15px;
  margin: 0 auto;
  @media(min-width: 1150px){
    width: 1100px;
  }
}

body{
  font-family: aleo, areal;
}

.link{
  &_unstyle{
    text-decoraton: none;
    color: inherit;
    text-decoration: none;
    &:hover, &:focus{
      text-decoration: none;
    }
  }
}

.svg-sprite{
  height: 0;
  width: 0;
}