footer.footer
  .container
    .footer__list
      ul
        li.footer__li.footer__li_feature New York Restaurant
        li.footer__li 3926 Anmoore Road
        li.footer__li New York, NY 10014
        li.footer__li.footer__li_feature 718-749-1714
    .footer__list
      ul
        li.footer__li.footer__li_feature France Restaurant
        li.footer__li 68, rue  de la Couronne
        li.footer__li 75002 PARIS
        li.footer__li.footer__li_feature 02.94.23.69.56
    .footer__list.footer__list_feature
      ul
        li.footer__li
          a(href="#").link_unstyle Blog
        li.footer__li
          a(href="#").link_unstyle Careers
        li.footer__li
          a(href="#").link_unstyle Privacy Policy
        li.footer__li
          a(href="#").link_unstyle Contact
    .footer__list
      ul
        li.footer__li
          a(href="#").logo.link_unstyle.logo_footer
            span Resto
            span.logo__feature ..
        li.footer__li © All Rights Reserved 2014.
        li.footer__li copyright ©

