.gallery
    .container
        a(href="#").link_unstyle.gallery__title.title Gallery
        .gallery__container
            a(href="#").gallery__img_big.gallery__img
                img(src="../images/gallery5.jpg")
            a(href="#").gallery__img
                img(src="../images/gallery1.jpg")
            a(href="#").gallery__img
                img(src="../images/gallery2.jpg")
            a(href="#").gallery__img
                img(src="../images/gallery3.jpg")
            a(href="#").gallery__img
                img(src="../images/gallery4.jpg")
