.header
	.container
		a(href="#").logo.link_unstyle
			span Resto
			span.logo__feature ..
		.nav-icon
		ul.nav
			li.nav__item
				a(href="#").link_unstyle Our story
			li.nav__item
				a(href="#").link_unstyle Menu
			li.nav__item
				a(href="#").link_unstyle Reservations
			li.nav__item
				a(href="#").link_unstyle News
			li.nav__item
				a(href="#").link_unstyle Reviews