.slider
	.container
		a(href="#").link_unstyle.slider__title.title Featured Dishes
		.slider__container
		
			a(href="#").link_unstyle.slider-item
				.slider-item__container
					.slider-item__image
						img(src="../images/menu1.jpg")
					.slider-item__title Fugiat nulla sint
					.slider-item__price  $30
					.slider-item__stars
						.rating
							.rating__item.rating__item_active
								svg
									use(xlink:href="#star")
							.rating__item.rating__item_active
								svg
									use(xlink:href="#star")
							.rating__item.rating__item_active
								svg
									use(xlink:href="#star")
							.rating__item
								svg
									use(xlink:href="#star")
							.rating__item
								svg
									use(xlink:href="#star")
			a(href="#").link_unstyle.slider-item
				.slider-item__container
					.slider-item__image
						img(src="../images/menu1.jpg")
					.slider-item__title Fugiat nulla sint
					.slider-item__price  $30
					.slider-item__stars
						.rating
							.rating__item.rating__item_active
								svg
									use(xlink:href="#star")
							.rating__item.rating__item_active
								svg
									use(xlink:href="#star")
							.rating__item.rating__item_active
								svg
									use(xlink:href="#star")
							.rating__item
								svg
									use(xlink:href="#star")
							.rating__item
								svg
									use(xlink:href="#star")
			a(href="#").link_unstyle.slider-item
				.slider-item__container
					.slider-item__image
						img(src="../images/menu1.jpg")
					.slider-item__title Fugiat nulla sint
					.slider-item__price  $30
					.slider-item__stars
						.rating
							.rating__item.rating__item_active
								svg
									use(xlink:href="#star")
							.rating__item.rating__item_active
								svg
									use(xlink:href="#star")
							.rating__item.rating__item_active
								svg
									use(xlink:href="#star")
							.rating__item
								svg
									use(xlink:href="#star")
							.rating__item
								svg
									use(xlink:href="#star")
			a(href="#").link_unstyle.slider-item
				.slider-item__container
					.slider-item__image
						img(src="../images/menu1.jpg")
					.slider-item__title Fugiat nulla sint
					.slider-item__price  $30
					.slider-item__stars
						.rating
							.rating__item.rating__item_active
								svg
									use(xlink:href="#star")
							.rating__item.rating__item_active
								svg
									use(xlink:href="#star")
							.rating__item.rating__item_active
								svg
									use(xlink:href="#star")
							.rating__item
								svg
									use(xlink:href="#star")
							.rating__item
								svg
									use(xlink:href="#star")
			a(href="#").link_unstyle.slider-item
				.slider-item__container
					.slider-item__image
						img(src="../images/menu1.jpg")
					.slider-item__title Fugiat nulla sint
					.slider-item__price  $30
					.slider-item__stars
						.rating
							.rating__item.rating__item_active
								svg
									use(xlink:href="#star")
							.rating__item.rating__item_active
								svg
									use(xlink:href="#star")
							.rating__item.rating__item_active
								svg
									use(xlink:href="#star")
							.rating__item
								svg
									use(xlink:href="#star")
							.rating__item
								svg
									use(xlink:href="#star")
			a(href="#").link_unstyle.slider-item
				.slider-item__container
					.slider-item__image
						img(src="../images/menu1.jpg")
					.slider-item__title Fugiat nulla sint
					.slider-item__price  $30
					.slider-item__stars
						.rating
							.rating__item.rating__item_active
								svg
									use(xlink:href="#star")
							.rating__item.rating__item_active
								svg
									use(xlink:href="#star")
							.rating__item.rating__item_active
								svg
									use(xlink:href="#star")
							.rating__item
								svg
									use(xlink:href="#star")
							.rating__item
								svg
									use(xlink:href="#star")

		
		
		

		