.flag {
  width: 155px;
  margin: 0 auto;
  height: 75px;
  text-align: center;
  color: #fff;
  padding-top: 23px;
  background: url('../images/menu.png') no-repeat;
  font-size: 20px;
  margin-bottom: 81px;
}