.footer {
  background: $font-color;
  padding-top: 100px;
  padding-bottom: 93px;
  @media(max-width:  767px){
    padding-top: 50px;
    padding-bottom: 0px;
  }
  &__list{
    padding-left: 0;
    vertical-align: top;
color: #fff;
    display: inline-block;
    width: 25%;
    padding-right: 60px;
    margin: 0;
    list-style: none;
    &:last-child{
      padding-right: 0;
    }
    &_feature{
      .footer__li{
        font-weight: 400;
        margin-bottom: 12px;
      }
    }

    @media(max-width: 767px){
      width: 50%;
      margin-bottom: 60px;
      padding-right: 15px;
    }
  }

  &__li{
    font-size: 14px;
    font-weight: 100;
    margin-bottom: 7px;
    &_feature{
      font-weight: 400;
    }
  }


}