.gallery__container {
  display: grid;
}
.gallery__img{
  font-size: 0;
}
.gallery__img_big.gallery__img {
  grid-column: 1;
  grid-row-start: 1;
  grid-row-end: 3;
}
.gallery__img:nth-child(3) {
  grid-column: 3;
  grid-row: 1;
}
.gallery{
  margin-bottom: 200px;
  @media(max-width:  767px){margin-bottom: 80px}
}


@media(max-width: 767px){
  .gallery__img:nth-child(3) {
    grid-column: 2;
  }
}