
.rating{

&__item{
	display: inline-block;
	height: 12px;
	width: 12px;
	    display: inline-block;
	& svg {
	max-width: 100%;
	max-height: 100%;
}

& svg use{
	fill: #adadad;
}
& svg path {
	fill: inherit;
}
&_active{
	& svg use{
		fill: #ffac22;
	}
}
}
}
