.footer__list {
  padding-left: 0;
  vertical-align: top;
  color: #fff;
  display: inline-block;
  width: 25%;
  padding-right: 60px;

  ul{
    margin: 0;
    list-style: none;
    padding: 0;
    display: inline-block;
  }
  &:last-child{
    padding-right: 0;
  }
  &_feature{
    .footer__li{
      font-weight: 400;
      margin-bottom: 12px;
    }
  }

  @media(max-width: 767px){
    width: 50%;
    margin-bottom: 60px;
    padding-right: 15px;
    text-align: center;
    & ul{
      text-align: left;
      width: auto;
      display: inline-block;

    }
  }
}