.logo {
  font-family: 'wc_mano_negra';
  line-height: 1;
  font-size: 49px;
  font-weight: 600;
  float: left;
  display: inline-block;
  color: $font-color;
  &__feature{
      color: $red;
      font-size: 53px;
  }
}