.nav {
  float: right;
  padding-top: 10px;
  font-family: aleo;
  color: $font-color;
    margin-top: 12px;
    margin-bottom: 0px;
    padding: 0;
    list-style: none;


  @media(max-width: 768px) {
    position: absolute;
    //right: -100%;
    top: 55px;
    z-index: 100;
    background: $font-color;
    color: #fff;
    border-radius: 0px 0px 0px 10px;
    padding: 30px;
    transition: 0.3s;


padding: 0;
    right: 0;
    width: 0;
    overflow: hidden;
    padding: 30px 0;
    &_active {
      //right: 0px;
      overflow: hidden;
      padding:  30px;
      width: 320px;
      max-width: 100%;
    }
  }
}
@import 'nav__item';


