extends includes/base
block page
	.svg-sprite
		include includes/symbol/svg/sprite.symbol.svg
	include includes/header
	include includes/billboard
	include includes/menu
	include includes/slider
	include includes/gallery
	include includes/footer