.billboard__description {
display: inline;
    position: relative;
    color: #fff;
    font-family: aleo;
      max-width: 600px;
    font-size: 16px;
  &:before, &:after{
    content: '';
    position: absolute;
    width: 40px;
    top: 49%;
    height: 1px;
    background: #fff;
  }
  &:before {
      left: -67px;
    }
    &:after {
      right: -67px;
    }
  @media(max-width: 768px){


    &:after,
    &:before
    { display:none}

  }
}