.billboard__title {
  position: relative;
  font-family: 'wc_mano_negra';
  color: #fff;
  margin-top: 0;
  font-size: 101px;
  line-height: 0.8;

  margin-bottom: 20px;
  @media(max-width: 768px){

      font-size: 50px;
    }
}